/* Global */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Global End */

/* Vegas Slider */

#vegas-slider {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 2%;
    background-color: #f2f2f2;
}

/* Style for navigation buttons */
.vegas-prev, .vegas-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
}

.vegas-prev:hover, .vegas-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.vegas-prev {
    left: 20px;
}

.vegas-next {
    right: 20px;
}

/* Style for slide indicators */

#vegas-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    z-index: 1;
}

.vegas-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

.vegas-indicator:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.vegas-indicator.current {
    background-color: #fff;
    z-index: 1;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    #vegas-slider {
        width: 100%;
        height: 60vh;
        padding-top: 0;
    }

    .vegas-prev,
    .vegas-next {
        font-size: 18px;
    }

    .vegas-prev {
        left: 10px;
    }

    .vegas-next {
        right: 10px;
    }

    #vegas-indicators {
        margin-top: 5px;
    }

    .vegas-indicator {
        width: 8px;
        height: 8px;
        margin: 3px;
    }
}

/* Vegas Slider End  */


/* Main */
main {
    padding-top: 1%;
}

/* Main End */

/* home.html */

/* Testimonials */
main{

}

main h1{
    padding-top: 3%;
}

#username {
    font-size: 28px;
    color: #2a2a2a;
    position: relative;
    display: inline-block;
}

#username::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff6600;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}

#username:hover::before {
    transform: scaleX(1);
}

.testimonials {
    display: grid;
    place-items: start;
    min-height: 115svh;
    font-family: "Poppins", sans-serif;
    color: #26273e;
    padding-block: min(10vh, 1rem);
    background-color: #f2f2f2;
}

@media screen and (min-width: 61.25rem) {
    .testimonials {
        place-items: center;
    }
}

.testimonials section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: calc(min(90rem, 85%));
    margin: 0 auto 1rem;
}
@media screen and (min-width: 61.25rem) {
    .testimonials section {
        column-gap: 5rem;
    }
}
.testimonials section h1 {
    grid-column: span 12;
    text-transform: capitalize;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}
@media screen and (min-width: 61.25rem) {
    .testimonials section h1 {
        font-size: 4rem;
        margin-bottom: 3rem;
    }
}
.testimonials section .cards {
    grid-column: span 12;
    display: grid;
    gap: 2rem;
}
@media screen and (min-width: 61.25rem) {
    .testimonials section .cards {
        grid-column: span 5;
    }
}
.testimonials section .cards .card {
    cursor: pointer;
    padding: 2em;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2.188rem;
    align-items: center;
    transition: 0.3s;
    position: relative;
    border: 0.094rem solid transparent;
}
.testimonials section .cards .card img {
    display: block;
    width: 3.35rem;
    height: 3.35rem;
    border-radius: 50%;
    filter: grayscale(1);
    transition: 0.5s;
}
.testimonials section .cards .card > div h3 {
    text-transform: capitalize;
    font-size: 1.025rem;
}
.testimonials section .cards .card > div p {
    text-transform: capitalize;
    color: #767676;
    font-size: 0.9rem;
}
.testimonials section .cards .card.active {
    background: #fff;
    border: 0.094rem solid #0f172a14;
}
.testimonials section .cards .card.active .gradient {
    background-image: linear-gradient(to right, #4755690a, #9d0cb28a, #4343c899, #4755690a);
    width: 50%;
    height: 0.094rem;
    position: absolute;
    content: "";
    bottom: -0.063rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0.125rem 0.75rem #4343c84d;
}
section .cards .card.active img {
    filter: grayscale(0);
}
.testimonials section .content {
    grid-column: span 12;
    position: relative;
    width: 100%;
    overflow: inherit;
    margin-top: 2rem;
}
@media screen and (min-width: 61.25rem) {
    .testimonials section .content {
        grid-column: span 7;
        margin-top: 0;
        height: auto;
    }
}
.testimonials section .content .contentBox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
@media screen and (min-width: 61.25rem) {
    section .content .contentBox {
        align-items: center;
    }
}
.testimonials section .content .contentBox .text {
    padding-bottom: 2rem;
}
@media screen and (min-width: 61.25rem) {
    .testimonials section .content .contentBox .text {
        padding-bottom: 0;
    }
}
.testimonials section .content .contentBox h2 {
    transition: 0.5s;
    opacity: 0;
}
.testimonials section .content .contentBox p {
    transition: 0.5s;
    opacity: 0;
    margin-top: 1.25rem;
}
.testimonials section .content .contentBox span {
    display: inline-block;
    transition: 0.5s;
    opacity: 0;
    margin-top: 0.625rem;
}
.testimonials section .content .contentBox span svg {
    width: 1.25rem;
    color: #eca633;
}
.testimonials section .content .contentBox.active h2 {
    opacity: 1;
    transition-delay: 0.5s;
}
.testimonials section .content .contentBox.active span {
    opacity: 1;
    transition-delay: 0.7s;
}
.testimonials section .content .contentBox.active p {
    opacity: 1;
    transition-delay: 0.9s;
}

.testimonials::-webkit-scrollbar {
    width: 0.8em;
}

.testimonials::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
}

.testimonials::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
}


/* products.html */

/* Pink Button */
.circular-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 1%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.circular-btn:hover {
    background-color: #ff80ab; /* Change to a different color or shade on hover */
}

.pink-bg {
    background-color: pink;
    color: white;
}

.plus-sign {
    font-size: 2.5rem;
}

.container_products {
    padding: 1%;
}

/* Toast css */

/* Custom CSS for Toast Notification */
.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    pointer-events: none;
}

.toast-container .toast {
    background-color: #34a0a4;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.toast.show {
    opacity: 1;
}


/* Product List  */

section.d-flex {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-bottom: 1%;
    flex-wrap: wrap;
}

#searchSection,
#filterSection {
    width: 50%;
    box-sizing: border-box;
    padding: 0 10px;
}

#filterSection {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    padding-bottom: 1%;
}

#filterSection h4{
    padding-right: 1%;
}

.form-check-inline {
    margin-right: 20px;
}

.shoes, .socks {
    display: block;
}

@media (max-width: 768px) {
    section.d-flex {
        flex-direction: column; /* Stack sections vertically on smaller screens */
    }

    #searchSection,
    #filterSection {
        width: 100%; /* Take up full width on smaller screens */
        box-sizing: border-box;
        padding: 0 10px;
    }

    #filterSection {
        padding-bottom: 2%; /* Adjust padding for better spacing on smaller screens */
        text-align: center; /* Center the content horizontally */
        align-items: center; /* Center vertically */
        display: flex;
        max-width: 100%;
    }

    #filterSection h4 {
        padding-right: 1%;
        margin: 0;
    }

    .shoes,
    .socks {
        display: block;
        width: 100%; /* Take up full width on smaller screens */
    }

    .form-check-inline {
        display: block;
        margin-bottom: 10px;
    }
}

#productsSection {
    padding-top: 0.5%;
}

.productList .card .card_image{
    max-width: 100%;
    height: auto;
}

.productList .card{
    background-color: white;
    overflow-y: hidden;
}
.card_image{
    position: relative;
    width: 260px;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, .4));
    transition: .5s;
}

.card:hover .card_image{
    transform: translate(-0.5rem, -5.5rem) rotate(-15deg);
}


.size-selector {
    margin-top: 10px;
}

.size-selector label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.size-options {
    display: flex;
    align-items: center;
}

.size-options input[type="radio"] {
    display: none;
}

.size-options label {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.size-options label:hover {
    background-color: #aaa;
}

.size-options input[type="radio"]:checked + label {
    background-color: #f50057; /* Change the color for the selected size */
    color: white;
}



/* Product List End  */

/* About us */

.section-padding {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.separator {
    display: flex;
    align-items: center;
}

.separator .line {
    height: 1px;
    flex: 1;
    background-color: #dee2e6;
}

.separator h3 {
    padding: 0 1.5rem;
}

.brands .brand-box {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

@media all and (min-width: 1024px) {

    .product-zoom-images img:hover,
    .tabular-product .card:hover img,
    .product-thumbs .card:hover img,
    .product-grid .card:hover img,
    .cartegory-box .card:hover img {
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
    }

    .brands .brand-box:hover {
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
    }

}

/* About us End  */
