/* Global */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;

}

/* Global End */

/* Vegas Slider */

#vegas-slider {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 2%;
    background-color: #f2f2f2;
}

/* Style for navigation buttons */
.vegas-prev, .vegas-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
}

.vegas-prev:hover, .vegas-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.vegas-prev {
    left: 20px;
}

.vegas-next {
    right: 20px;
}

/* Style for slide indicators */

#vegas-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    z-index: 1;
}

.vegas-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

.vegas-indicator:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.vegas-indicator.current {
    background-color: #fff;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    /* Adjust the breakpoint value as needed */
    #vegas-slider img {
        object-position: center top; /* Adjust the positioning if necessary */
    }
}

/* Vegas Slider End  */


/* Main */
main{
    padding-top: 3%;
}
/* Main End */


/* Product List  */

#searchSection {
    display: flex;
    justify-content: center;
    max-width: 40rem;
    padding-bottom: 0.5%;
}

#productsSection{
    padding-top: 0.5%;
}

#productList {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.productItem {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.productImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.productDetails {
    text-align: center;
}

.productName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.productPrice {
    color: #888;
    margin-bottom: 5px;
}

.productQuantity {
    color: #888;
}

/* Product List End  */

/* About us */

.section-padding {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}


.separator {
    display: flex;
    align-items: center;
}

.separator .line {
    height: 1px;
    flex: 1;
    background-color: #dee2e6;
}

.separator h3 {
    padding: 0 1.5rem;
}

.brands .brand-box {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

@media all and (min-width: 1024px) {

    .product-zoom-images img:hover,
    .tabular-product .card:hover img,
    .product-thumbs .card:hover img,
    .product-grid .card:hover img,
    .cartegory-box .card:hover img {
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
    }

    .brands .brand-box:hover {
        -webkit-transform: scale(1.08);
        transform: scale(1.08);
    }

}

/* About us End  */