
#navbarContainer{
    padding-bottom: 1%;
}

#navbarContainer .nav-link{
    color: #f2f2f2;
    padding-right: 1.5rem;
    font-family: "Georgia", serif;
}

#navbarContainer .nav-link:hover {
    color: #c1d3fe;
}

#navbarContainer .nav-link.active {
    color: #8093f1;
}

/* Footer style */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Social media icons style */
.footer a.btn-floating {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  transition: background-color 0.3s, color 0.3s;
}

a.btn-floating i {
  vertical-align: middle;
}

.btn-outline-light.btn-floating {
  position: relative;
  overflow: hidden;
}


/* Hover effect for social media icons */
#footerContainer a.btn-floating:hover {
  color: #fff;
}

#footerContainer a.btn-floating:hover i.fa-facebook-f{
  background-color: #1877f2; /* Facebook Blue */
}

#footerContainer a.btn-floating i.fa-twitter:hover {
  background-color: #1da1f2; /* Twitter Cyan */
}

#footerContainer a.btn-floating:hover i.fa-google {
  background-color: #bd2315; /* Google Red */
}

#footerContainer a.btn-floating:hover i.fa-instagram {
  background-color: #8a3ab9; /* Instagram Dark Maroon */
}

#footerContainer a.btn-floating:hover i.fa-linkedin-in {
  background-color: #0077b5; /* LinkedIn Blue */
}


#footerContainer .logo-img {
    width: 100px; /* Set the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10rem; /* Adjust the spacing */
}

/* Media query for small screens */
@media (max-width: 576px) {
    #footerContainer .logo-img {
        margin-right: 0;
        margin-bottom: 10px; /* Add some space between logo and other sections */
        text-align: center; /* Horizontally center the logo */
    }
}


