
#navbarContainer{
    padding-bottom: 1%;
}

#navbarContainer .nav-link{
    color: #f2f2f2;
    padding-right: 1.5rem;
    font-family: "Georgia", serif;
}

#navbarContainer .nav-link:hover {
    color: #a2d2ff;
}

#navbarContainer .nav-link.active {
    color: #023047;
}

/* Footer style */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Social media icons style */
.footer a.btn-floating {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  margin: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.footer a.btn-floating i {
  vertical-align: middle;
}

/* Hover effect for social media icons */
.footer a.btn-floating:hover {
  color: #fff;
}

.footer a.btn-floating:hover.fa-facebook-f {
  background-color: #1877f2; /* Facebook Blue */
}

.footer a.btn-floating:hover.fa-twitter {
  background-color: #1da1f2; /* Twitter Cayn */
}

.footer a.btn-floating:hover.fa-google {
  background-color: #ea4335; /* Google Red */
}

.footer a.btn-floating:hover.fa-instagram {
  background-color: #8a3ab9; /* Instagram Dark Maroon */
}

.footer a.btn-floating:hover.fa-linkedin-in {
  background-color: #0077b5; /* LinkedIn Blue */
}

.footer a.btn-floating:hover.fa-github {
  background-color: #333; /* GitHub Dark Blue */
}








